[Unit]
Description=Calls Loopia DDNS service every nth minutes

[Timer]
# start 3 min after boot
OnBootSec=3min
# then run every 3 min
OnUnitActiveSec=3min
Unit={{ ddns_service }}

[Install]
WantedBy=timers.target
